//
// Application Variables
//-----------------------------------------------------

// Primary font
$body-font: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

//
// Theme Colors
//

$white: #FFF;

// A cor primária é a cor principal do aplicativo usado
// para barra de navegação, links ativos e botão principal.

$primary-color: #42a5f5;

// A cor complementar é usada para indicar a barra de carregamento na parte superior
// da página com plugin pace.js
$complementry-color: adjust_hue($primary-color, 180);

// ------- Sidebar Width --------
$sidebar-width: 230px;

// ------- Sidebar Colors --------

// Cor de fundo da barra lateral
$sidebar-color: #263544;

// -- Cores de fundo da barra lateral sugeridas
// dark  : #222d32
// light : #f8f8f8

// A variável de acento da barra lateral é usada para determinar a cor dos links
// da barra lateral. Os valores permitidos são apenas 'dark' ou 'light'
$sidebar-accent: dark;

// As seguintes variáveis indicam a cor do link da barra lateral
// e cor de foco do link ao usar uma cor escura da barra lateral
$sidebar-dark-color: #42a5f5;
$sidebar-dark-link-color: #b7c0cd;

// As seguintes variáveis indicam a cor do link da barra lateral
// e cor de foco do link ao usar uma cor clara da barra lateral
$sidebar-light-color: #b7c0cd;
$sidebar-light-link-color: #42a5f5;
