doctype html
html
	head
		include includes/_head.pug
		title Lockscreen - Ocellaris Dash

	body
		section.material-half-bg
			.cover
				
		section.lockscreen-content
			.logo
				h1 Ocellaris

			.lock-box
				img.rounded-circle.user-image(src="https://0.gravatar.com/avatar/b5f7829a7179fa46398e6fe1601dc561?size=128")

				h4.text-center.user-name Alex Jesus

				p.text-center.text-muted Account Locked

				form.unlock-form(action="index.html")
					.mb-3
						label.control-label PASSWORD
						input.form-control(type="password", placeholder="Password", autofocus)

					.mb-3.btn-container.d-grid
							button.btn.btn-primary.btn-block(type="submit")
								i.bi.bi-unlock.me-2.fs-5
								| UNLOCK 

				p
					a(href="page-login.html") Not John ? Login Here.

		include includes/_javascript.pug
