doctype html
html(lang='pt-br')

	//- Variáveis para definir página ativa na barra lateral
	block variables
		- var activePage = 'dashboard';
		- var activeGroup = 'none';

	head
		meta(name='description', content='Ocellaris Dash é um template administrativo gratuito, modular e fácil de personalizar, construído com Bootstrap 5, Sass e PugJS.')

		// Twitter meta
		meta(property='twitter:card', content='summary_large_image')
		meta(property='twitter:site', content='@alexjesustech')
		meta(property='twitter:creator', content='@alexjesustech')

		// Open Graph Meta
		meta(property='og:type', content='website')
		meta(property='og:site_name', content='Ocellaris Dash')
		meta(property='og:title', content='Ocellaris Dash - Template administrativo gratuito')
		meta(property='og:url', content='https://alexjesustech.github.io/ocellaris-dash')
		meta(property='og:image', content='https://alexjesustech.github.io/ocellaris-dash/imagens/hero-social.png')
		meta(property='og:description', content='Ocellaris Dash é um template administrativo gratuito, modular e fácil de personalizar, construído com Bootstrap 5, Sass e PugJS.')

		block title
			title Ocellaris Dash - Template administrativo gratuito

		include ../includes/_head.pug

	body.app.sidebar-mini

		// Navbar
		include ../includes/_header.pug

		// Sidebar menu
		include ../includes/_sidebar.pug

		main.app-content
			block content

		//- Javascripts
		include ../includes/_javascript.pug
		
		// Page specific javascripts
		block specific-js
